NEXT_PUBLIC_SITE_URL=https://rush-archive.vercel.app
NEXT_PUBLIC_FF_ARCHIVE_URL=https://ff-archive.vercel.app
NEXT_PUBLIC_MI_ARCHIVE_URL=https://mi-archive.vercel.app
NEXT_PUBLIC_BOND_ARCHIVE_URL=https://bond-archive-two.vercel.app
NEXT_PUBLIC_TF_ARCHIVE_URL=https://transformers-archive.vercel.app
NEXT_PUBLIC_FVF_ARCHIVE_URL=https://fordvferrari-archive.vercel.app
NEXT_PUBLIC_RUSH_ARCHIVE_URL=https://rush-archive.vercel.app
NEXT_PUBLIC_GT_ARCHIVE_URL=https://granturismo-archive.vercel.app
NEXT_PUBLIC_SISTER_SITE_URL=https://car-parts-cpang.vercel.app
